.navbar {
  width: 100%;
  font-family: $font-secondary;
  background: $color-primary-dark2;
  z-index: 999;
  position: relative;

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 5rem;
    position: relative;

    .logo {
      a {
        img {
          width: 200px;
          height: auto;
        }
      }
    }

    .links {
      display: flex;
      align-items: center;
      font-weight: 600;
      display: none;

      @media (min-width: 850px) {
        display: flex;
      }

      a {
        margin: 0 1rem;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-primary-white;
        display: block;
        line-height: 1;
        position: relative;
        z-index: 1;
        letter-spacing: 1px;

        &:hover {
          color: lighten($color-primary-white, 20%);
        }
      }
    }

    .buttons {
      display: flex;
      gap: 15px;
      display: none;

      @media (min-width: 850px) {
        display: flex;
      }

      .button-join,
      .button {
        border-radius: 70px;
        border: 2px solid $color-primary-gold;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .5px;
        line-height: 1;
        padding: .5rem 1.5rem;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
        transition: all .4s 0s;
        vertical-align: middle;
        white-space: nowrap;
        background-clip: padding-box;
        position: relative;
      }

      .button-join {
        background-color: $color-primary-gold;
        color: $color-primary-dark;

        &:hover {
          background: transparent;
          color: #fff;
        }
      }

      a {
        &:before {
          content: none;
        } 

        &:hover:before {
          transform: none;
        }

        &:hover {
          color: darken($color-primary-gold, 10%);
        }
      }

      .button {
        color: #fff;
        box-shadow: 0 6px 22px rgba(6, 34, 51, .22);

        &:hover {
          background-color: $color-primary-gold;
          color: $color-primary-dark;
        }
      }
    }

    .mobile-menu {
      display: none;
      @media (max-width: 850px) {
        display: block;
        font-size: 24px;
        cursor: pointer;
      }
    }

    .mobile-nav {
      display: none;
      @media (max-width: 850px) {
        display: block;
        position: absolute;
        top: 100%;
        opacity: 0;
        left: 0;
        width: 100%;
        background: $color-primary-dark2;
        border-top: 1px solid $color-primary-gold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 999;

        a {
          display: block;
          padding: 1rem;
          color: $color-primary-white;
          text-decoration: none;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 14px;
          border-bottom: 1px solid lighten($color-accent-gray, 20%);
          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background: $color-primary-gold;
            color: $color-primary-dark;
          }
        }
        
      }
    }
  }

  @media (max-width: 850px) {
    .navbar-content {
      padding: 1.3rem 1rem;
    }
  }
}
