// Colors
$color-primary-white: #ffffff;
$color-primary-gold: #00c4f4;
$color-primary-dark: #030b15;
$color-primary-dark2: #030b15;


// Accent Colors
$color-accent-gray: #CCCCCC;
$color-accent-green: #00FF00;
$color-accent-darkgray: #666;

// Fonts
$font-primary: 'Courier New', monospace;
$font-secondary: 'Courier New', monospace;

// Breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;


// how to process variables
$content-width: calc(40vw - 84px);
$margin: 20px;
$spacing: 20px;
$bdrs: 6px;
$circle-size: 40px;
$icon-size: 32px;
$bdrs-icon: 100%;

$color1: #9251ac;
$color2: #f6a4ec;

$color3: #87bbfe;
$color4: #555ac0;

$color5: #24b47e;
$color6: #aff1b6;
 