// Colors
$color-primary-white: #ffffff;
$color-primary-gold: #00c4f4;
$color-primary-dark: #030b15;
$color-primary-dark2: #030b15;


// Accent Colors
$color-accent-gray: #CCCCCC;
$color-accent-green: #00FF00;
$color-accent-darkgray: #666;

// Fonts
$font-primary: 'Courier New', monospace;
$font-secondary: 'Courier New', monospace;

// Breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
 